.dashboard-main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-content: center;
  align-items: center;
  max-width: 700px;
  gap: 20px;
}

.myAppointments {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 15px 0;
  gap: 40px;
}

@media screen and (max-width: 768px) {
  .dashboard-main {
    gap: 10px;
  }
  .myAppointments {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
}

.apo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 2px solid rgba(0, 0, 0, 0.2);
  padding: 10px 15px;
  font-weight: bold;
  transition: all 0.1s ease-in;
  gap: 10px;
  border-top: 10px solid #4caf50;
}

.apo span {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.8);
}

.apo button {
  border: none;
  background: none;
  font-size: 10px;
  cursor: pointer;
}

.apo:hover {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  border-color: #4caf50;
  cursor: pointer;
}

.logout-btn {
  background-color: #fb4141;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  color: white;
}

.logout-btn:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.dashboard__left-side {
  display: flex;
  flex-direction: column;
  min-height: 350px;
  justify-content: space-between;
  border-right: 3px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
  padding-top: 20px;
  padding-right: 20px;
}
.left-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.left-list span {
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
  padding: 15px;
  padding-bottom: 20px;
  width: 100%;
  text-align: start;
  /* border-radius: 5px; */
  transition: all 0.1s ease-in;
  cursor: pointer;
}

@media screen and (max-width: 920px) {
  .dashboard__left-side {
    padding: 0;
    padding-right: 5px;
  }

  .left-list span {
    padding: 15px 10px;
    font-size: 14px;
  }
  .apo {
    padding: 5px 10px;
  }
}
.left-list span:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-bottom-color: #4caf50;
}

.left-list span.active {
  background-color: rgba(0, 0, 0, 0.1);
  border-bottom-color: #4caf50;
}

.dashboard__right-side {
  color: #fb4141;
  font-weight: bold;
  padding: 20px;
}
